body{
    background-color: rgb(0,0,0);
}

#display {
    width: 200px;
    height: 50px;
    background-color: rgb(58, 56, 56);
    color: rgb(255,255,255);
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: 2px solid rgb(58, 56, 56);
    border-radius: 50%;
    background-color: rgb(58, 56, 56);
    color: rgb(255,255,255);
}

button:hover{
    background-color: rgba(212, 16, 16, 0.045);
    cursor: pointer;
}

#multiply , #subtract , #add, #equal, #divide{
    background-color: rgb(186, 162, 162);
}
